{% extends "index.html" %}

{% block Title %}
    <title>DashLearn | Assignment Feedback</title>
{% endblock Title %}
{% block content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Assignment Feedback</h1>
        
      </div>


{% endblock content %}

{% block chart %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4"><div class="row"><div class="col-sm-12 col-md-6"></div></div><div class="row"><div class="col-sm-12"><table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
          <thead>
            <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 154px;">Course Code</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 237px;">Feedback</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 111px;">Due Date</th></tr>
          </thead>

          <tbody>
              {% for post in posts1 %}
          <tr role="row" class="odd">
              <td class="sorting_1">{{ post.courseid }}</td>
              <td>{{ post.feedback }}</td>
              <td>{{ post.duedate }}</td>
              {% endfor %}
            </tr></tbody>
        </table></div></div>
      </div>
    </div>
  </div>

{% endblock chart %}



