{% extends "index.html" %}

{% block Title %}
<link rel="stylesheet" type="text/css" href="http://cdn.pydata.org/bokeh/release/bokeh-1.4.0.min.css"/>
<link rel="stylesheet" type="text/css" href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.4.0.min.css"/>
<link rel="stylesheet" type="text/css" href="http://cdn.pydata.org/bokeh/release/bokeh-tables-1.4.0.min.css"/>
    <title>DashLearn | Performance</title>
{% endblock Title %}

{% block content %}
    <h1>Performance</h1>
  
   {{div| safe}}

    {% for post in posts %}
        <button type="submit"> {{ post.cousecode }} </button>
    {% endfor %} 
{% endblock content %}
{% block postbody %}
<script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-1.4.0.min.js"></script>
<script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.4.0.min.js"></script>
<script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-tables-1.4.0.min.js"></script>
<script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-api-1.4.0.min.js"></script>
{{script | safe}}
{% endblock postbody %}