{% extends "index.html" %}

{% block Title %}
    <title>DashLearn | Profile</title>
{% endblock Title %}

{% block content %}
    <h1>Profile</h1>
    <table>
        <tr>
            <td>Name:</td>
            <td>  {{ user.name }} </td>
        </tr>
        <tr>
            <td>Matric:</td>
            <td>  {{ user.matric }}  </td>
        </tr>
        <tr>
            <td>Program:</td>
            <td>  {{ user.program }}  </td>
        </tr>
        <tr>
            <td>Course Taken :</td>
            <td>
                {% for post in posts %}
     {{ post.cousecode }}
    {% endfor %}
            </td>
        </tr>
    </table>


    
    <button><a href="{% url 'edit_profile' %}"> Edit Password</a></button>
{% endblock content %}